.navigation-list{
    padding: 10px 20px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.navigation-list li{
    list-style: none;
    font-size: 24px;
    cursor: pointer;
}